body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#user-input {
  height: 50px;
  width: 100%;
  left: 0;
  top: 0;
}

#cy {
  height: 75%;
  width: 50%;
  position: absolute;
  left: 0;
  top: 50px;
}

#info-pane {
    height: 100%;
    width: 50%;
    position: relative;
    float: right;
    top: 50px;
}
